@{
    ViewData["Title"] = "Contact Details:-";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<br />
<br />
<p>Email:- usermanagement@gmail.com</p>
<p>Contact No.:- 7742576860, 9829952437</p>
